---
const { title, url, img, alt, tags } = Astro.props;
---

<li class="project-card" data-tags={tags.join(" ")}>
  <a href={url} class="project-link">
    <img src={img} alt={alt} class="project-thumb" />

    <div class="project-content">
      <h2 class="project-title">{title}</h2>

      <ul class="tag-list">
        {tags.map((tag: string) => <li class="tag">{tag}</li>)}
      </ul>
    </div>
  </a>
</li>
