---
const { title, url, img, alt, tags, description } = Astro.props;
---

<li class="project-card" data-tags={tags.join(" ")}>
  <a href={url} class="project-link">
    <img src={img} alt={alt} class="project-thumb" />

    <div class="project-content">
      <h2 class="project-title">{title}</h2>

      <!-- <p class="project-description">{description}</p> -->

      <div class="project-footer">
        <div class="tag-list">
          {tags.map((tag: string) => <span class="tag-chip">{tag}</span>)}
        </div>
      </div>
    </div>
  </a>
</li>
